/* style color titles to meaning */

h2[id="red"] {
    color: red;
}

h2[id="blue"] {
    color: blue;
}

h2[id="orange"] {
    color: orange;
}

h2[id="green"] {
    color: green;
}

h2[id="yellow"] {
    color: yellow;
}

/* change all the color titles to font-size: normal */

.color-title {
    font-weight: normal;
}

/* style all the inames to 200px heigh and 200px wide */

img {
    height: 200px;
    width: 200px;
}